<h1>Editing film genre</h1>

<%= render "form", film_genre: @film_genre %>

<br>

<div>
  <%= link_to "Show this film genre", @film_genre %> |
  <%= link_to "Back to film genres", film_genres_path %>
</div>
