<h1>New film genre</h1>

<%= render "form", film_genre: @film_genre %>

<br>

<div>
  <%= link_to "Back to film genres", film_genres_path %>
</div>

<div>
  <%= link_to "Back to home", root_path %>
</div>
